body{
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}

h1{
    margin-top: 0;
    padding-top: 130px;
    margin-bottom: 20px;
    font-family: "sacramento", sans-serif;
    font-size: 90px ;
}

h2,h3{
    font-family: "montserrat";
}

.top-c{
    background-color: #E0EBE8;
    /* background-image: "CSS/mount.webp"; */
}

h1,h2 ,h3 ,h4{
    text-align: center;
}

.profile_pic{
    width: 150px;
    border-radius: 50%;
    align-self: center;
    margin-top: 30px;
}

.pro{
    text-decoration: underline;
}

.bg{
    width:fit-content;
    margin: 0;
}

h1,h2{
    color: #66BFBF;
}

h3{
    color: #11999E;
}

hr{
    border-color: lightgreen;
    height: 0px;
    width: 5%;
    border-style: dotted none none;
    border-width: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top-cloud{
    position: absolute;
    right: 280px ;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    top: 200px;

}
p{
    color: #EAF6F6;
    margin-bottom: 0;
}

.bottom-c{
    background-color: #0AA1DD;
    
}

a{
    color: lightgreen;
    margin-left: 30px ;
    margin-right: 30px ;
}

.img1{
    width: 150px;
}

h2{
    font-size:40px ;
    font-weight: normal;
}